In [1]:
import sqlite3
con = sqlite3.connect('SQL.db')

In [2]:
cur = con.cursor()
cur.execute("CREATE TABLE World (name text, continent text, area int, population int, gdp int)")

In [4]:
cur.execute("INSERT INTO World VALUES ('Afghanistan', 'Asia', 652230, 25500100, 20343000 )")
cur.execute("INSERT INTO World VALUES ('Albania', 'Europe', 28748, 2831741, 12960000 )")
cur.execute("INSERT INTO World VALUES ('Algeria', 'Africa', 2381741, 37100000, 188681000 )")
cur.execute("INSERT INTO World VALUES ('Andorra', 'Europe', 468, 78115, 3712000 )")
cur.execute("INSERT INTO World VALUES ('Angola', 'Africa', 1246700, 20609294, 100990000 )")

In [5]:
cur.execute('SELECT * FROM World')
cur.fetchall()

[('Afghanistan', 'Asia', 652230, 25500100, 20343000),
 ('Albania', 'Europe', 28748, 2831741, 12960000),
 ('Algeria', 'Africa', 2381741, 37100000, 188681000),
 ('Andorra', 'Europe', 468, 78115, 3712000),
 ('Angola', 'Africa', 1246700, 20609294, 100990000)]

In [6]:
cur.execute('SELECT name,population,gdp FROM World WHERE gdp > 100000000 OR area > 3100000 OR population > 25000000' )
print("Big Countries", cur.fetchall())

Big Countries [('Afghanistan', 25500100, 20343000), ('Algeria', 37100000, 188681000), ('Angola', 20609294, 100990000)]